/* General Styling for Education Section */
.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    /* background-color: var(--neutral-color); */
    color: var(--text-color);
    border-radius: 10px;
    margin-top: 50px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9); */
}

/* Education Title Styling */
.education-title h1 {
    font-size: 48px;
    color: var(--primary-color);
    margin-bottom: 30px;
}

/* Layout for Individual Education Items */
.education-item-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

.education-item {
    background-color: white;
    padding: 30px; /* Increased padding for spacing */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.education-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

/* Education Format Styling */
.education-format {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Increased logo size for readability */
.education-format img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
}

.education-info h2 {
    font-size: 22px;
    color: var(--heading-color);
    margin-bottom: 5px;
}

.education-info h3 {
    font-size: 18px;
    color: var(--background-color);
}