/* Hero Section Layout */
.hero {
    /* back */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    /* animation: fadeIn 1s ease-in forwards; */
    /* background-color: aqua; */
    width: 100%;
    /* background-color: aqua; */
}

.anchor-link {
    text-decoration: none;
}

.hero-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;

    margin: 5px;

    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(20) 1s forwards;
    border-right: 2px solid var(--background-color);
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Hero Image */
.hero-img img {
    margin-bottom: 0px;
    height: 50vh;
    object-fit: cover;

}

/* Action Buttons */
.hero-action {
    display: flex;
    /* flex-direction: column; */
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 50px; */
}

.hero-connect,
.hero-resume {
    width: 250px;
    padding: 20px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, border-color 0.3s;
}

.hero-connect {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.hero-resume {

    padding: 20px 20px 20px 0px;
    border: 2px solid #fff;
    color: var(--neutral-color);
    background-color: transparent;
    text-decoration: none;
}

.hero-resume a {
    text-decoration: none;
    color: inherit;
}

/* Button Hover Effects */
.hero-connect:hover {
    background-color: var(--background-color);
}

.hero-resume:hover {
    border-color: var(--secondary-color);
}

.hero-connect:hover,
.hero-resume:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

/* Scroll Arrow and Text */
.hero-scroll {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: white;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    transition: opacity 0.3s;

    animation: pulse 1.5s infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.hero-scroll p {
    margin: 0;
    font-size: 25px;
}

.hero-scroll img {
    width: 30px;
    height: auto;
    animation: bounce 1.5s infinite;
    filter: brightness(90%);
}

/* Hover Effects for Scroll */
.hero-scroll:hover {
    opacity: 0.8;
}

/* Bounce Animation for Arrow */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }
}

@media (max-width: 860px) {

    .hero {
        padding: 0;
        align-self: center;
        /* margin: 0px 10%; */
        /* margin-right: auto; */
        /* margin: 0 auto; */

        width: 100%;
        /* Full width of the screen */
        /* max-width: 100vw; */
        /* Prevent overflow beyond viewport width */
        /* padding: 10px; */

        flex-direction: column-reverse;
        gap: 0px;
    }

    .hero-action {
        flex-direction: column;
        gap: 8px;
        width: max-content;
        align-items: center;
    }

    .hero-connect,
    .hero-resume {
        /* padding: 5px 20px; */
        /* width: 150px; */
        font-size: calc(1vw + 1rem);
    }

    .hero h1 {
        font-size: clamp(2rem, 2vw + 1rem, 5rem);
    }
}