/* Hero Section Layout */
.hero {
    display: flex;
    align-items: center;
    gap: 35px;
    /* animation: fadeIn 1s ease-in forwards; */
    /* background-color: aqua; */
}

/* @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

.anchor-link {
    text-decoration: none;
}

.hero-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 90px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;

    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(20) 1s forwards;
    border-right: 2px solid var(--background-color);
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Hero Image */
.hero-img img {
    height: 100vh;
    object-fit: cover;
}

/* Action Buttons */
.hero-action {
    display: flex;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect,
.hero-resume {
    padding: 25px 45px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, border-color 0.3s;
}

.hero-connect {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.hero-resume {
    padding: 25px 75px;
    border: 2px solid #fff;
    color: var(--neutral-color);
    background-color: transparent;
    text-decoration: none;
}

.hero-resume a {
    text-decoration: none;
    color: inherit;
}

/* Button Hover Effects */
.hero-connect:hover {
    background-color: var(--background-color);
}

.hero-resume:hover {
    border-color: var(--secondary-color);
}

.hero-connect:hover,
.hero-resume:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

/* Scroll Arrow and Text */
.hero-scroll {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: white;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    transition: opacity 0.3s;

    animation: pulse 1.5s infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.hero-scroll p {
    margin: 0;
    font-size: 25px;
}

.hero-scroll img {
    width: 30px;
    height: auto;
    animation: bounce 1.5s infinite;
    filter: brightness(90%);
}

/* Hover Effects for Scroll */
.hero-scroll:hover {
    opacity: 0.8;
}

/* Bounce Animation for Arrow */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }
}

/* Add this at the bottom of Hero.css */

/* Mobile Styles */
/* Mobile Styles */
@media (min-width: 768px) and (max-width: 1261px) {
    .hero {
        /* background-color: aqua; */
        display: flex;
        flex-direction: row;
        /* Stacking elements vertically */
        align-items: center;
        /* Centering horizontally */
        justify-content: center;
        /* Centering vertically */
        text-align: center;
        /* padding: 20%; */
        /* height: 100vh; */
        /* Ensure the hero takes full viewport height */
        text-align: center;
        /* Center text */
    }

    .hero-action {
        display: flex;
        /* Use flex to align items */
        flex-direction: column;
        /* Stack buttons vertically */
        align-items: center;
        /* Center buttons */
        justify-content: center;
        gap: 15px;
        /* Add spacing between buttons */
        margin-bottom: 30px;
        /* Adjust margin for spacing */
    }

    .hero h1 {
        /* padding-top: 90px; */
        font-size: 60px;
        /* Adjust heading size */
        /* margin-bottom: 20px; */
        /* Add space below the heading */
    }

    .hero-img {
        
        z-index: -1;
        height: auto;
        max-width: 50vh;
        /* Adjust image height */
        display: flex;
        justify-content: center;
        /* Center image */
        align-items: center;
        /* Center image */
        margin-bottom: 20px;
        /* Add space below image */
    }

    .hero-scroll {
        display: none;
        /* margin-bottom: 50px; */
        /* Maintain bottom margin */
    }

    .hero-scroll p {
        font-size: 20px;
        /* Adjust font size */
    }

    .hero-scroll img {
        height: 100%;
        width: auto;
        object-fit: contain;
        /* width: 25px; */
        /* Adjust arrow size */
    }
}