/* Hero Section Layout */
.hero {
    display: flex;
    align-items: center;
    gap: 35px;
    /* background-color: aqua; */
}

.anchor-link {
    text-decoration: none;
}

.hero-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 90px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
}

/* Hero Image */
.hero-img img {
    height: 100vh;
    object-fit: cover;
}

/* Action Buttons */
.hero-action {
    display: flex;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect, .hero-resume {
    padding: 25px 45px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, border-color 0.3s;
}

.hero-connect {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
}

.hero-resume {
    padding: 25px 75px;
    border: 2px solid #fff;
    color: var(--neutral-color);
    background-color: transparent;
    text-decoration: none;
}

.hero-resume a {
    text-decoration: none;
    color: inherit;
}

/* Button Hover Effects */
.hero-connect:hover {
    background-color: var(--background-color);
}

.hero-resume:hover {
    border-color: var(--secondary-color);
}

/* Scroll Arrow and Text */
.hero-scroll {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: white;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.hero-scroll p {
    margin: 0;
    font-size: 25px;
}

.hero-scroll img {
    width: 30px;
    height: auto;
    animation: bounce 1.5s infinite;
    filter: brightness(90%);
}

/* Hover Effects for Scroll */
.hero-scroll:hover {
    opacity: 0.8;
}

/* Bounce Animation for Arrow */
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(8px); }
}
