/* Navbar Container */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    /* Set width for vertical alignment */
    padding: 20px;
    /* background-color: var(--neutral-color-transparent); */
    /* border-radius: 90px 60px; */

    /* border-color: aqua; */
    /* padding-bottom: 0; */

}

/* Navbar Title */
.navbar h1 {
    font-size: 24px;
    color: var(--neutral-color);
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
}

/* Navbar Menu Styling */
.nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}

/* Menu Items */
.nav-menu li {
    font-size: 18px;
}

.nav-menu li p {
    text-wrap: nowrap;
    cursor: pointer;
    padding: 12px 20px;
    color: var(--text-color);
    transition: color 0.3s ease;
    border-radius: 40px 30px;
    width: 100%;
}

/* Active Link */
.nav-menu li .active {
    color: var(--background-color);
    background-color: var(--button-bg);
    font-weight: bold;
}

/* Hover Effect */
.nav-menu li p:hover {
    color: var(--background-color);
}

/* Mobile Menu Icon */
.nav-mob-open {
    display: none;
    /* Hide on desktop */
}

/* Connect Button Styling */
.nav-connect {
    text-wrap: nowrap;
    margin-top: 20px;
    padding: 12px 20px;
    color: var(--button-text);
    /* background-color: var(--button-bg); */
    border-radius: 40px 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.nav-connect:hover {
    background-color: var(--button-bg);
}

.navbar-mobile {
    display: none;
}

@media (max-width: 860px) {
    .navbar {
        display: none;
        background-color: var(--primary-dark);
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 10px;
        vertical-align: baseline;

        border-radius: 30px 30px 10px 10px ;
    }

    .navbar-mobile {
        display: flex;
    }

    .navbar-mobile ul li {
        list-style-type: none;
        padding: 0;
        margin: 0;

        text-wrap: nowrap;
        /* margin-top: 20px; */
        padding: 12px 20px;
        color: var(--button-text);
        /* background-color: var(--button-bg); */
        border-radius: 30px 30px 10px 10px;
        /* font-size: 16px; */
        cursor: pointer;
        text-align: center;
        transition: background-color 0.3s;

        font-size: 20px;
    }



    .navbar-mobile ul {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .nav-menu,
    .navbar h1,
    .navbar .anchor-link {
        display: none;
    }


    .navbar,
    .nav-menu {
        flex-direction: row;
    }
}